@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    padding: 50px 0px;
    font: bold 2em Arial, sans-serif;
    display: block;
    text-align: center;
    background-color: red;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: darkred;
}

section {
    width: 267px;
    height:471px ;
}